body {
  background-color: #cfbcbe;
  color: #400014;
  font-family: "Times New Roman", serif, serif;
}
h1 {
  text-align: center;
  margin-top: 0%;
  margin-bottom: -10px;
  padding: 0;
  position: relative;
  margin-left: 280px;
  color: #82040e;
  font-size: 50px;
}
h3 {
  margin: auto;
  text-align: center;
  margin-top: 5%;
  font-style: italic;
  color: #82040e;
  font-size: 13px;
  font-family: "helvetica", sans-serif;
}
b {
  color: #82040e;
}
i {
  color: #82040e;
}
#main {
  background-color: white;
  border: solid 1px;
  width: 550px;
  color: #400014;
  margin: auto;
  height: 400px;
  overflow: auto;
  padding: 20px;
  font-size: 15px;
}
hr {
  width: 250px;
  color: #82040e;
}
